<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mischa.arcillas.com.companion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Login" />
        <activity android:name=".seeker.SeekerRegister" />
        <activity
            android:name=".seeker.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".seeker.Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity android:name=".Choices" />
        <activity android:name=".facilitator.FacilitatorRegister" />
        <activity android:name=".seeker.SeekerInterests" />
        <activity android:name=".facilitator.FacilitatorInterests" />
        <activity android:name=".facilitator.FacilitatorSpecialization" />
        <activity android:name=".local_db.LocalDB" />
        <activity
            android:name=".facilitator.FacilitatorHome"
            android:label="@string/title_activity_facilitator_home"
            android:theme="@style/AppTheme" />
        <activity android:name=".facilitator.ProfileFacilitator"></activity>
    </application>

</manifest>